@model Demo.Models.UserProfileViewModel
@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
@using (Html.BeginForm("EditProfile", "Writer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p style="color:mediumseagreen;">@TempData["success"]</p>
    <p style="color:tomato;">@TempData["error"]</p>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yazar Profil Düzenleme</h4>
                <br>
        @*        @Html.HiddenFor(a=> a.Id, new{@class="form-control"})*@
                                 
                <div class="form-group">
                    <label for="exampleInputName1">Ad Soyad</label>
                    @Html.TextBoxFor(a=>a.NameSurname, new{@class="form-control"})
                    @Html.ValidationMessageFor(a => a.NameSurname, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Kullanıcı Adı</label>
                    @Html.TextBoxFor(a=>a.UserName, new{@class="form-control"})
                    @Html.ValidationMessageFor(a => a.UserName, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    <label for="exampleInputEmail3">Email address</label>
                    @Html.TextBoxFor(a=>a.Email, new{@class="form-control", type="email",placeholder="Eposta adresi"})
                    @Html.ValidationMessageFor(a => a.Email, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    <label for="exampleInputPassword4">Password <small>*Bilgileri değiştirebilmek için şifrenizi girmelisiniz.</small></label>
                    @Html.PasswordFor(a=>a.Password, new{@class="form-control", required=""})
                    @Html.ValidationMessageFor(a => a.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Profil Fotoğrafı</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Dosya yolu seç">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Yükle</button>
                        </span>
                    </div>
                </div>

@*                
                <div class="form-group">
                    <label>Profil Fotoğrafı</label> <br>
                    <img src="@Model.Image" alt="Profile Pic." style="max-width:10%;">
                    <input type="file" name="Image" />
                </div>

                <div class="form-group">
                    <label for="exampleTextarea1">Hakkında</label>
                    @Html.TextAreaFor(a=>a.About,10,3, new{@class="form-control", type="text",placeholder="Kendinden bahset..."})
                </div>*@
                <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
                <button class="btn btn-light">Vazgeç</button>
                @*                </form>
                *@
            </div>
        </div>
    </div>


}

@using (Html.BeginForm("PasswordChange", "Writer", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Şifre Değiştirme</h4>

                <div class="form-group">
                    <label for="exampleInputPassword4">Eski Şifreniz</label>
                    <input type="password" class="form-control" id="password1" name="oldPass" placeholder="" required="">
                   @* @Html.ValidationMessageFor(a => a.Password, "", new { @class = "text-danger" })*@

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Yeni Şifre</label>
                    <input type="password" class="form-control" id="password1" name="newPass" placeholder="" required="">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Tekrar yeni şifre</label>
                    <input type="password" class="form-control" id="password1" name="newPassAgain" placeholder="" required="">
                    buraya viewbag ile hata koyacağız.

                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>

            </div>
        </div>
    </div>

}
