@using Demo.Controllers
@model ArticleApi
@{
    ViewData["Title"] = "UpdateArticle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Makale Güncelleme</h1>
<form method="post">
    @Html.HiddenFor(a=> a.id)
    <label>Kategori Id </label>
    <br />
    @Html.TextBoxFor(a=> a.categoryid)
    <br />

    <label>Başlık </label>
    <br />

    @Html.TextBoxFor(a=> a.title)
    <br />

    <label>İçerik</label>
    <br />

    @Html.TextAreaFor(a=> a.content)
    <br />

    <label>Tarih </label>
    <br />

    @Html.TextBoxFor(a=> a.creationdate,new{type="date"})
    <br />

    <label>Makale Durumu </label>
    <br />

    @Html.TextBoxFor(a=> a.status)
    <br />
    <button type="submit" class="btn btn-outline-success">Güncelle</button>
</form>

